.footer {
    display: block;
    justify-content: center;
    width: 100%;
    max-width: 880px; 
    margin: 0 auto;  
}

.footer__paragraph {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgba(84, 84, 84, 1);
  margin: 67px 0 60px;
  text-align: left;
}

@media (max-width: 1024px) {
}

@media (max-width: 544px) {
  .footer {
    max-width: 282px;
  }
}
